<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="background-img">
        <!-- <img src="/static/images/background.jpg" alt=""> -->
    </div>
    <div class="content">
        <div class="header">
            <p>Light Code Tester</p>
        </div>
    </div>
    <form action="/login" method="POST">
        <input type="text" placeholder="username" name="username">
        <input type="password" placeholder="password" name="password">
        <input type="submit" value="submit">
    </form>
</body>
</html>