<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/static/css/index.css">
    <link href="https://fonts.googleapis.com/css2?family=Archivo+Black&display=swap" rel="stylesheet">
</head>
<body>
<!--     <form action="/" method="post" enctype="multipart/form-data">
        <input type="file" name="file">
        <input type="submit"value="submit">
    </form> -->

    <header class="header-container">
        <nav class="nav-container">
            <img class="nav-logo" src="/static/images/logo.jpg" alt="logo školy SŠMG">
            <ul class="nav-links">
                <a href="#" class="nav-link">úlohy</a>
                <a href="http://" class="nav-link">statistiky</a>
                <a href="/user/logout" class="nav-link">Logout</a>
            </ul>
        </nav>
    </header>

    <main class="main-content">
        <div class="task-content">
            <!-- TODO -->
            <div class="task-todo-content">
                <p class="todo-headline">
                    Úkoly k dodělání</p>
                    <ul class="todo-tasks">
                        <div class="task not-done-task task-near-end">
                            <!-- úkol který se za chvíli ukončí - (orandžová barva) -->
                            <p class="task-name">Testování implentace tříd v jave</p>
                            <p class="task-time-end">zbývá 15 dní</p>
                        </div>

                        <div class="task not-done-task task-soon-end">
                            <!-- úkol který se za chvíli ukončí - (orandžová barva) -->
                            <p class="task-name">Testování implentace tříd v jave</p>
                            <p class="task-time-end">zbývá 15 dní</p>
                        </div>

                        <div class="task not-done-task task-begin">
                            <!-- úkol který se za chvíli ukončí - (orandžová barva) -->
                            <p class="task-name">Testování implentace tříd v jave</p>
                            <p class="task-time-end">zbývá 15 dní</p>
                        </div>

                        <div class="task not-done-task task-begin">
                            <!-- úkol který se za chvíli ukončí - (orandžová barva) -->
                            <p class="task-name">Testování implentace tříd v jave</p>
                            <p class="task-time-end">zbývá 15 dní</p>
                        </div>

                        <div class="task not-done-task task-begin">
                            <!-- úkol který se za chvíli ukončí - (orandžová barva) -->
                            <p class="task-name">Testování implentace tříd v jave</p>
                            <p class="task-time-end">zbývá 15 dní</p>
                        </div>

                        <div class="task not-done-task task-closed">
                            <!-- úkol který se za chvíli ukončí - (orandžová barva) -->
                            <p class="task-name">Testování implentace tříd v jave</p>
                            <p class="task-time-end">zbývá 15 dní</p>
                        </div>
                    </ul>
            </div>
            <!-- DONE -->
            <div class="task-done-content">

            </div>
        </div>
    </main>
</body>
</html>